.landing-page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.landing-page-container {
	/* border: 2px solid black; */
	display: flex;
}

.landing-page-left {
	/* border: 2px solid yellow; */
}

.welcome-header {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Ranchers', cursive;
	font-size: 3rem;
	letter-spacing: .50rem;
	color: #FD7D11;
	text-shadow:
	0 0 7px #fff,
	0 0 10px #fff,
	0 0 21px #fff,
	0 0 42px #FFC12F,
	0 0 82px #FFC12F,
	0 0 92px #043451,
	0 0 102px #043451,
	0 0 151px #043451;
}

.landing-page-right {
	/* border: 2px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
	padding-left: 10px;
}

.landing-page-buttons-container {
	/* border: 2px solid orange; */
}

.landing-image {
	padding-top: 20px;
}

.landing-button {
	padding: 50px;
	margin-top: 50px;
	border-radius: 10px;
	font-family: 'Ranchers', cursive;
	letter-spacing: .25rem;
	font-size: 1.25rem;
	width: 45%;
	cursor: pointer;
}

.landing-button:hover {
	transform: scale(1.1);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>")
      16 0, auto;
}
