/* 13" macbook + */
@media screen and (min-width: 1341px) {
	.landing-page-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	
	.landing-page-container {
		display: flex;
	}
	
	.welcome-message {
		color: white;
		font-weight: bold;
		margin-top: 15px;
		width: 50%;
	}
	
	.welcome-header {
		margin-top: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'Ranchers', cursive;
		font-size: 4rem;
		letter-spacing: .50rem;
		color: #fff;
		text-shadow: 1px 0px 4px #FFE9D7, 2px 0px 4px #FEC79A, 3px 0px 4px #FEB172, 2px 0px 3px #FDA55D, 2px 3px 15px #FD9A49, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #FD8F35,40px 0vw 200px #FD7D11;
	}
	
	.flicker-slow{
		animation: flicker 3s linear infinite;
	}
	
	.flicker-fast{
		animation: flicker 1s linear infinite;
	}
	
	@keyframes flicker {
		0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
				
		}
		20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
				opacity: 0.4;
		}
	}
	
	.landing-page-right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		padding-left: 10px;
	}
	
	.landing-page-buttons-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 85%;
	}
	
	.landing-image {
		padding-top: 20px;
	}
	
	.landing-button {
		padding: 40px;
		margin-top: 40px;
		border-radius: 7px;
		font-family: 'Ranchers', cursive;
		letter-spacing: .25rem;
		font-size: 1.25rem;
		color: white;
		cursor: pointer;
		width: 300px;
		border-radius: 50px;
		background-color: #F36518;
		border: none;
	}
	
	.landing-button:hover {
		transform: scale(1.1);
		cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>")
				16 0, auto;
	}

}

/* mobile */
@media screen and (max-width: 1340px){
.landing-page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.landing-page-container {
	display: flex;
	flex-direction: column;
}

.landing-page-left {
	margin-top: 0px;
}

.welcome-message {
	color: white;
	font-weight: bold;
	margin-top: 15px;
	width: 50%;
}

.welcome-header {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Ranchers', cursive;
	font-size: 2rem;
	letter-spacing: .50rem;
	color: #fff;
	text-shadow: 1px 0px 4px #FFE9D7, 2px 0px 4px #FEC79A, 3px 0px 4px #FEB172, 2px 0px 3px #FDA55D, 2px 3px 15px #FD9A49, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #FD8F35,40px 0vw 200px #FD7D11;
}

.flicker-slow{
	animation: flicker 3s linear infinite;
}

.flicker-fast{
	animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
	opacity: .99;
			
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
			opacity: 0.4;
	}
}

.landing-page-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.landing-image {
	padding-top: 20px;
	width: 80%;
}

.landing-page-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 75%;
}

.landing-button {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	border-radius: 7px;
	font-family: 'Ranchers', cursive;
	letter-spacing: .25rem;
	font-size: 1.25rem;
	color: white;
	cursor: pointer;
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: #F36518;
	border: none;
}

.landing-button:hover {
	transform: scale(1.1);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>")
      16 0, auto;
}
}

