.landing-page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.landing-page-container {
	/* border: 2px solid black; */
	display: flex;
}

.landing-page-left {
	/* border: 2px solid yellow; */
}

.welcome-to {
	color:#FD7D11;
}

.welcome-message {
	/* color:#FD7D11; */
	font-weight: bold;
	padding-top: 10px;
}

.welcome-header {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Ranchers', cursive;
	font-size: 3rem;
	letter-spacing: .50rem;
	color: #fff;
	text-shadow: 1px 0px 4px #FFE9D7, 2px 0px 4px #FEC79A, 3px 0px 4px #FEB172, 2px 0px 3px #FDA55D, 2px 3px 15px #FD9A49, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #FD8F35,40px 0vw 200px #FD7D11;
}

.flicker-slow{
	animation: flicker 3s linear infinite;
}

.flicker-fast{
	animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
	opacity: .99;
			
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
			opacity: 0.4;
	}
}

.landing-page-right {
	/* border: 2px solid black; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 10px;
	padding-left: 10px;
}

.landing-page-buttons-container {
	/* border: 2px solid orange; */
}

.landing-image {
	padding-top: 20px;
}

.landing-button {
	padding: 50px;
	margin-top: 50px;
	border-radius: 10px;
	font-family: 'Ranchers', cursive;
	letter-spacing: .25rem;
	font-size: 1.25rem;
	width: 45%;
	cursor: pointer;
	background-color: #FD7D11;
}

.landing-button:hover {
	transform: scale(1.1);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>")
      16 0, auto;
}
