@media screen and (min-width: 1341px) {
	.loading-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.loading-msg {
		margin-top: 150px;;
		font-family: 'Ranchers', cursive;
		font-size: 3rem;
		letter-spacing: .25rem;
		font-weight: bold;
		color: white;
	}
}

@media screen and (max-width: 1340px) {
	.loading-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.loading-msg {
		margin-top: 100px;;
		font-family: 'Ranchers', cursive;
		font-size: 3rem;
		letter-spacing: .25rem;
		font-weight: bold;
		color: white;
	}

	.loading-gif {
		height: 350px;
	}
}

