@media screen and (min-width: 1341px){

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4.3rem;
  font-family: 'PT Sans Narrow';
  font-size: larger;
}

a {
  text-decoration: none;
  color: black;
  padding-right: .6em;
  padding-top: .4em;
  padding-bottom: .4em;
}

.active {
  color: #F36518;
}
}

@media screen and (max-width: 1340px){
	.nav-bar {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4.3rem;
		font-size: x-small;
	}

	a {
		text-decoration: none;
		color: black;
		padding-right: .6em;
		padding-top: .4em;
		padding-bottom: .4em;
	}
}

