.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.5rem;
}

a {
  text-decoration: none;
  color: black;
  padding-right: .5em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.active {
  color: #F36518;
}


