.popup-page-wrapper {
	/* border: 2px solid green; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.popup-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 20px;
	height: 84vh;
	width: 70vw;
	padding-left: 80px;
	padding-right: 80px;
	background-color: #6652BD;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup-page-address {
	font-family: 'Ranchers', cursive;
	letter-spacing: .25rem;
	font-size: 2.5rem;
	margin-top: 35px;
}

.popup-page-times {
	font-size: 20px;
}

.popup-page-description {
	font-weight: bold;
}

.popup-page-scariness-level {
	font-weight: bold;
}

.popup-page-image {
	height: 400px;
	width: 500px;
	object-fit: contain;
}

.back-button {
	border-radius: 10px;
	font-family: 'Ranchers', cursive;
	letter-spacing: .25rem;
	font-size: 1.25rem;
	width: 300px;
	height: 100px;
	cursor: pointer;
}

.back-button:hover {
	transform: scale(1.1);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎃</text></svg>")
      16 0, auto;
}
