.register-form-container {
  display: flex;
	flex-direction: column;
	align-items: center;
	height: 700px;
}

.form-section {
  display: flex;
  flex-direction: column;
	justify-content: center;
	border: 2px solid pink;
	width: 50%;
	padding-top: 20px;
}

form {
	display: flex;
  flex-direction: column;
	justify-content: center;
}